#include "Flag.h"
#include "winres.h"
INDIA ICON flag.ico


IDM_MENU MENU DISCARDABLE
BEGIN
	MENUITEM "&WHITE",IDM_WHITE
	MENUITEM "&LIGHTGRAY",IDM_LTGRAY
	MENUITEM "&GRAY",IDM_GRAY
	MENUITEM "&DKGRAY",IDM_DKGRAY
	MENUITEM "&BLACK",IDM_BLACK
	MENUITEM "&AND_ABOUT",IDM_APP_ABOUT
END


ABOUTBOX DIALOG DISCARDABLE 32,32,180,100
STYLE DS_MODALFRAME|WS_POPUP
FONT 8,"MS Sans Sherif"

BEGIN 
	DEFPUSHBUTTON "OK",IDOK,66,80,50,40
	CTEXT "ABOUT" ,IDC_STATIC,40,12,100,8
	CTEXT "ASH" ,IDC_STATIC,7,40,166,8
	
END

